#browser #main .StatusInfo {
	padding: 16px!important;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
#browser #main .StatusInfo-Content {
    padding: 8px;
    background-color: #403e4d;
    border-radius: 99px;
	border: 1px solid #7f808a;
	font-size: 16px;
}
