#browser:has(.vivaldi-settings) {
	padding: 2px 3px 3px 2px;
	background-color: #7f808a;
}

#browser:has(.vivaldi-settings) .settings-navigation>div::-webkit-scrollbar {
	width: 14px;
}
#browser:has(.vivaldi-settings) .settings-navigation>div::-webkit-scrollbar-thumb {
	background-color: #055942;
	border-radius: 999px;
}
#browser:has(.vivaldi-settings) .settings-navigation>div::-webkit-scrollbar-thumb:hover {
	background-color: #266e55;
}
#browser:has(.vivaldi-settings) .settings-navigation>div::-webkit-scrollbar-thumb:active {
	background-color: #5fb695;
}

#browser:has(.vivaldi-settings) .settings-content::-webkit-scrollbar {
	width: 14px;
}
#browser:has(.vivaldi-settings) .settings-content::-webkit-scrollbar-thumb {
	background-color: #055942;
	border-radius: 999px;
}
#browser:has(.vivaldi-settings) .settings-content::-webkit-scrollbar-thumb:hover {
	background-color: #266e55;
}
#browser:has(.vivaldi-settings) .settings-content::-webkit-scrollbar-thumb:active {
	background-color: #5fb695;
}

#browser:has(.vivaldi-settings) .settings-navigation>div::-webkit-scrollbar-button {
	display: none;
}
