#browser .mainbar {
	border: none;
	background-color: #2e2f37;
}

#browser .mainbar .toolbar {
	height: 32px;
	padding-right:10px !important;
	padding-left:4px;
	border-bottom: 2px solid #6b6d80;
}

#browser .mainbar .toolbar .UrlBar-AddressField *:has(>svg) {
	display: flex;
}

#browser .mainbar .toolbar .UrlBar-AddressField {
	height: 30px;
	padding: 0 4px;
	border-radius: 99px;
	border-width: 0;
	background-color: #43444d;
	font-size: 16px;
	font-weight: 600;
	margin: 0 16px;
}

#browser .mainbar .toolbar .UrlBar-AddressField:has(#urlFieldInput:focus) {
	background-color: #16181a;
	font-size: 16px;
	font-weight: normal;
}

#browser .mainbar .toolbar .UrlBar-AddressField .UrlField {
	justify-content: center;
}

#browser .mainbar .toolbar .UrlBar-AddressField .UrlField:has(#urlFieldInput:focus) {
	justify-content: flex-start;
}


#browser .mainbar .toolbar .UrlBar-AddressField .UrlField {
	justify-content: center;
}

#browser .mainbar .toolbar .UrlBar-AddressField .UrlField+.OmniDropdown {
	font-size: 16px;
	background-color: #4a4c59;
}

#browser .mainbar .toolbar .UrlBar-AddressField .UrlField+.OmniDropdown ul>label {
	opacity: 1;
	margin-top: 8px;
	margin-bottom: 4px;
	color: #c4c5cc;
}

#browser .mainbar .toolbar .UrlBar-AddressField .UrlField+.OmniDropdown ul>li>span:not(:has(svg)) {
	height: 16px;
}

#browser .mainbar .toolbar .UrlBar-AddressField .button-toolbar,
#browser .mainbar .toolbar .UrlBar-AddressField .button-toolbar *:has(svg),
#browser .mainbar .toolbar .UrlBar-AddressField .button-toolbar svg {
	margin: 0px!important;
	padding: 0px!important;
	border: none!important;
	background-color: transparent!important;
	color: white;
}
#browser .mainbar .toolbar .UrlBar-AddressField .button-toolbar button {
	width: 22px;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#browser .mainbar .toolbar .UrlBar-AddressField .button-toolbar button *:has(svg) {
	display: contents;
}
#browser .mainbar .toolbar .UrlBar-AddressField .button-toolbar button svg {
	width: 16px;
	height: 16px;
	transition: transform !important;
}
#browser .mainbar .toolbar .UrlBar-AddressField .button-toolbar button:hover svg {
	transform: scale(calc(22/16));
	color: #f6c177;
}
#browser .mainbar .toolbar .UrlBar-AddressField .button-toolbar button:active {
	opacity: 1;
}
#browser .mainbar .toolbar .UrlBar-AddressField .button-toolbar button:active svg {
	transform: scale(calc(20/16));
	filter: opacity(1);
}

#browser .mainbar .toolbar .UrlBar-AddressField .toolbar:has(.button-toolbar),
#browser .mainbar .toolbar .UrlBar-AddressField .toolbar *:has(.button-toolbar) {
	width: auto;
	height: auto;
	border: none;
}

#browser .mainbar .toolbar .UrlBar-AddressField .pageload progress.pageload-indicator {
	background-color: #f6c177;
	top: calc(100% - 4px);
	left: 8px;
	right: 8px;
	border-radius: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#browser .mainbar .toolbar .UrlBar-AddressField .pageload progress.pageload-indicator::-webkit-progress-value {
	border-radius: 0px;
	background-color: #2b7fff;
}

#browser .mainbar .toolbar .UrlBar-AddressField .pageload.progressing progress.pageload-indicator:not([value="0"])::-webkit-progress-value {
	transition: width 0.5s linear !important;
}

#browser .mainbar .toolbar .UrlBar-AddressField .pageload.progressing,
#browser .mainbar .toolbar .UrlBar-AddressField .pageload.progressing .pageload-indicator,
#browser .mainbar .toolbar .UrlBar-AddressField .pageload.progressing .pageload-ticker {
	opacity: 1;
}

#browser .mainbar .toolbar .UrlBar-AddressField .pageload.progress-done:not(.progressing),
#browser .mainbar .toolbar .UrlBar-AddressField .pageload.progress-done:not(.progressing) progress.pageload-indicator,
#browser .mainbar .toolbar .UrlBar-AddressField .pageload.progress-done:not(.progressing) progress.pageload-ticker
{
	animation: linear forwards page-load-animation-1;
	animation-duration: 0.5s !important;
}
@keyframes page-load-animation-1 {
	0% { opacity: 1 }
	99.99% { opacity: 1 }
	100% { opacity: 0 }
}
