[Unit]
Description=Kanata Service
After=default.target

[Service]
ExecStartPre=/usr/sbin/modprobe uinput
ExecSearchPath=/usr/local/bin
ExecStart=kanata --cfg %h/.config/kanata-keyboard/config.kbd --quiet --nodelay
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
