[Unit]
Description=Kanata Service
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStartPre=/usr/sbin/modprobe uinput
ExecSearchPath=/usr/local/bin/kanata
WorkingDirectory=/home/tpakhoa/.config/kanata-keyboard
ExecStart=kanata --cfg ./config.kbd --quiet --nodelay
Restart=on-failure
RestartSec=30

[Install]
WantedBy=graphical-session.target
